@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px 0px currentColor;
  }
  50% {
    box-shadow: 0 0 10px 2px currentColor;
  } 
  100% {
    box-shadow: 0 0 5px 0px currentColor;
  }
}

.glow-green {
  background-color: #11bc4a;
  animation: glow 1.5s ease-in-out infinite;
  color: #11bc4a;
}

.glow-red {
  background-color: #FF4136;
  animation: glow 1.5s ease-in-out infinite;
  color: #FF4136;
}

.glow-gray {
  background-color: #AAAAAA;
  animation: glow 1.5s ease-in-out infinite;
  color: #AAAAAA;
}


/* Add these styles to your globals.css */
.prose code {
  @apply bg-gray-100 dark:bg-gray-800 rounded px-1 py-0.5;
}

.prose pre {
  @apply bg-gray-100 dark:bg-gray-800 rounded p-4 my-4 overflow-x-auto;
}

.prose blockquote {
  @apply border-l-4 border-gray-300 dark:border-gray-700 pl-4 italic;
}

.prose ul, .prose ol {
  @apply list-disc list-inside;
}

.prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
  @apply font-bold my-4;
}

.prose h1 { @apply text-2xl; }
.prose h2 { @apply text-xl; }
.prose h3 { @apply text-lg; }